:root{
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --orange: hsl(25, 97%, 53%);
}
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    body {
      background-color: #141519;
      font-size: 15px;
      font-weight: 400;
    }

    #main {
      height: 97vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    #thankYouState {
      text-align: center;
    }

    .nonActiveState {
      display: none !important;
    }

    .box {
      background-image: linear-gradient(to bottom right, #1d242e, #171e28);
      width: 25%;
      height: 70%;
      padding: 30px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #22303a;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .heading {
      color: var(--white);
      font-size: 30px;
      font-weight: 700;
    }

    .description {
      color: var(--medium-grey);
    }

    #ratingsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .ratings {
      color: var(--white);
    }

    .submitContainer {
      display: flex;
      justify-content: center;

    }

    #submit {
      display: block;
      color: var(--white);
      background-color: var(--orange);
      width: 100%;
      border-radius: 25px;
      padding: 15px;
    }

    #ratingDisplay {
      color: var(--orange);
      background-color: #252d34;
      border-radius: 25px;
      padding: 15px;
    }

    .ratings:hover {
      background-color: var(--medium-grey);
      cursor: pointer;
    }

    #submit:hover {
      color: var(--orange);
      background-color: var(--white);
      cursor: pointer;
    }